
.form-control{
    background: #FFFFFF;
    border: 0.75px solid rgba(226, 226, 226, 0.5);
    box-shadow: 0px 4px 4px rgba(68, 97, 242, 0.05);
    border-radius: 5px;
    height: 50px;
    
}
.tx-color-01 {
    color: #262161;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: 'Inter UI';
}
.tx-13{
    color: #262161;
    font-weight: 700;
    
}
.buttondesign{
    display: flex;
    
}
.btn-brand-02 {
    background-color:#262161;
    border-color: #262161;
    color: #fff;
    width: 280px;
    height: 49px;
    font-family: 'Inter UI';
}
.signupbtn{
    margin-right: 10px;
    background-color: white;
    color: #262161;
}
.loginbtn{
    color: white;
}
a.loginbtn:hover{
    color: white;
  }
.wrapper_content{
    color:#262161;
    font-family: 'Inter UI';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
margin-bottom: 41px;
}
.wd-100p{
    height:100%
}
.sign-wrapper{
    align-content: center;
}
.textdesign{
    color: #262161;
    font-family: 'Inter UI';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
margin-left: 30px;
}
.invitemailbtn{
    width: 160px;
    height: 49px;
    border-radius: 5px;
    margin-left: 100px;
}
.divider-text {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:#262161;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
    letter-spacing: .5px;
    margin: 15px 0;
}